//colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGreyBlue: hsl(220, 16%, 96%);
$veryLightGrey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //25px